body{
    background-color: var(--azul);
}

#log{
    background-color: white;
    width: 400px;
    height: 350px;
    margin: 0 auto;
    border-radius: 25px 25px;
    text-align: center;
    margin-top: 9%;
    box-shadow: 10px 10px black;
    padding-top: 1px;
}

#log2 {
    margin-top: 20%;
    height: 130px;
}

#log2 > h1 {
    margin: 50px;
}

#email {
    height: 30px;
    border-radius: 5px;
}

#login {
    height: 34px;
    width: 80px;
    border-radius: 5px;
}

#log2 > a {
    color: black;
    display: block;
    margin-top: 20px;
    text-decoration: none;
    font-weight: bold;
}
#log2 > a:hover {
    text-decoration: underline;
}

#log2 > div {
    height: 50px;
}
